@mixin d-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin d-flex-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@mixin d-flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin d-flex-colum{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}